<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de empleados por palabra clave</h1>
    <form action="" method="GET">{% csrf_token %}
        <input type="text" id="kword" name="kword" placeholder="Escriba aqui">
        <button type="submit">Buscar</button>
    </form>

    <h3>Lista resultado</h3>
    <ul>
        {% for e in empleados %}
            {{ e }}
        {% endfor %}
    </ul>
</body>
</html>