{% extends 'base.html' %}
{% load static %}
{% block title %}Empleados por area{% endblock %}

{% block content %}

{% include 'includes/header.html' %}
    <div class="container">
        <div class="row">
            <h1 class="col mb-3 text-center">Lista de empleados por departamento</h1>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">NOMBRES</th>
                      <th scope="col">APELLIDOS</th>
                      <th scope="col">DEPARTAMENTO</th>
                      <th scope="col">ACCION</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for e in empleados %}
                    <tr>
                      <td>{{ e.id }}</ts>
                      <td>{{ e.first_name }}</td>
                      <td>{{ e.last_name }}</td>
                      <td>{{ e.departamento }}</td>
                      <td><a class="btn btn-primary" href="{% url 'persona_app:empleado_detail' e.id %}" role="button">Ver</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>

            </table>
        </div>

    </div>
    
{% endblock %}

    
